<!DOCTYPE html>
<html>
<head>
  <title>YODAOS: AI OS for Web community</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="style/background.css"> -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127419755-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127419755-1');
  </script>
  <style type="text/css">
    .jumbotron > h1, .jumbotron > .lead {
      text-align: center
    }
  </style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow-sm">
    <a class="navbar-brand" href="#">YODAOS</a>
    <!-- <button>Powered by ShadowNode</button> -->
    <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://yodaos-project.github.io/yoda-book/">Guideline</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">API Reference</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="docs/latest/">latest</a>
            <% apilevels.forEach(function (version) { %>
              <a class="dropdown-item" href="docs/<%= version %>/"><%= version %></a>
            <% }) %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/yodaos-project/samples">Samples</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <a class="btn" href="https://github.com/yodaos-project/yodaos">
          <svg height="32" width="32" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
      </div>
    </div>
  </nav>
  <div class="jumbotron shadow-sm" style="background: #fff">
    <h1 class="display-5 mt-5">YODAOS</h1>
    <p class="text-center">
      <img src="https://img.shields.io/badge/yodaos-<%= yodaosVersion %>-blue.svg">
      <img src="https://img.shields.io/badge/linux-4.4-green.svg">
      <img src="https://ci.rokid.com/buildStatus/icon?job=rokid-ci-yodart-unit-tests">
    </p>
    <p class="lead">A modern operating system for next generation interactive device, it embraces <a href="https://developer.mozilla.org/en-US/">Web community</a>, uses <a href="https://www.javascript.com/">JavaScript</a> as the application language.</p>
    <hr class="my-4">

    <p>The YODAOS is a Linux-based operating system targeting voice first devices, and use JavaScript as the first-class programming language for application developers. It provides an AIAL(artificial intelligence abstract layer), and available for JavaScript and C/C++ developers. The YODAOS is the framework to build the voice first interaction application without any DSP or machine learning around, that means the ability for full-stack customization and development, is used by developer in ways never envisioned.</p>
    <section class="text-center">
      <a class="btn btn-outline-primary disabled" href="https://github.com/yodaos-project/yodaos/releases" role="button">Download</a>
      <a class="btn" href="https://github.com/yodaos-project/yodaos" role="button">Browse Source</a>
    </section>
    <hr class="my-4">

    <h4>Get Started</h4>
    <section>
      <p>To get started with YODAOS development, read the <a href="https://yodaos-project.github.io/yoda-book/">yoda-book</a> first.</p>
      <ul>
        <li>If you are not a JavaScript/Node.js developer, some basic <a href="https://nodeschool.io/">tutorials</a> are available at nodeshool, and try to learn Node.js because YODAOS expose APIs like that.</li>
        <li>If you are already JavaScript/Node.js developer, almost everything is working because YODAOS is built on <a href="https://nodejs.org/">Node.js runtimes</a>.</li>
      </ul>
    </section>

    <h4>Development Toolkit</h4>
    <section>
      <p>YODAOS provides a <a href="https://github.com/yodaos-project/yoda-platform-tools/releases">toolkit</a> for developers which include:</p>
      <ul>
        <li><b>yoda-cli</b> A command line interface provides sets of tools to play with YODAOS devices.</li>
        <li><b>yoda-platform-lib</b> A library provides base functionality to enable multiple tool to talk to YODAOS devices.</li>
        <li><b>yoda-vscode</b> A VSCode extension provides easy commands on YodaOS devices and apps installation from workspaces, and it's available at <a href="https://marketplace.visualstudio.com/items?itemName=yodaos.yoda-vscode">VSCode Store</a>.</li>
      </ul>
    </section>

    <h4>Contributing</h4>
    <section>
      <p>YODAOS is a community-driven project that we accepts any improved proposals, pull requests and issues.</p>
      <ul>
        <li>For JavaScript development, go <a href="https://github.com/yodaos-project/yodart">yodaos-project/yodart</a> for details.</li>
        <li>For proposal, <a href="https://github.com/yodaos-project/evolution">yodaos-project/evolution</a> is the place where someone can submit pull request to propose something.</li>
      </ul>
    </section>

    <hr class="my-4">
    <p>YODAOS currently supports <a href="https://forum.rokid.com/topic/2595">Rokid Kamino18</a>, and <a href="http://www.amlogic.com/#Products/389/index.html">Amlogic A113</a>. See the <a href="#">Table of Development Boards</a> for full supported hardwares, for more information, please take a look at <a href="https://github.com/yodaos-project/yodaos">YODAOS homepage</a> at GitHub.
  </div>
  <footer>
    <p class="text-center text-secondary">
      YODAOS is an open source project under the <a href="http://www.apache.org/licenses/">Apache License, Version 2.0</a>.
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
