<title>YODAOS: AI OS for Web community</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="style/background.css"> -->
<style>
.bg-primary {
  background-color: #00b6ff !important;
}
.btn-outline-primary {
  color: #00b6ff !important;
  border-color: #00b6ff !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #00b6ff !important;
}
a {
  color: #00b6ff;
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127419755-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-127419755-1');
</script>