<!DOCTYPE html>
<html>
<head>
  <%- include('layout/header') %>
  <style type="text/css">
    .jumbotron > h1, .jumbotron > .lead {
      text-align: center
    }
  </style>
</head>
<body class="bg-light">
  <%- include('layout/navbar') %>
  <div class="jumbotron shadow-sm" style="background: #fff">
    <h1 class="display-5 mt-5">YODAOS</h1>
    <p class="text-center">
      <img src="https://img.shields.io/badge/yodaos-<%= yodaosVersion %>-blue.svg">
      <img src="https://img.shields.io/badge/linux-4.4-green.svg">
      <img src="https://ci.rokid.com/buildStatus/icon?job=rokid-ci-yodart-unit-tests">
    </p>
    <p class="lead">A modern operating system for next generation interactive device, it embraces <a href="https://developer.mozilla.org/en-US/">Web community</a>, uses <a href="https://www.javascript.com/">JavaScript</a> as the application language.</p>
    <hr class="my-4">

    <p>The YODAOS is a Linux-based operating system targeting voice first devices, and use JavaScript as the first-class programming language for application developers. It provides an AIAL(artificial intelligence abstract layer), and available for JavaScript and C/C++ developers. The YODAOS is the framework to build the voice first interaction application without any DSP or machine learning around, that means the ability for full-stack customization and development, is used by developer in ways never envisioned.</p>
    <section class="text-center">
      <a class="btn btn-outline-primary" href="/downloads/" role="button">Download</a>
      <a class="btn" href="https://github.com/yodaos-project/yodaos" role="button">Browse Source</a>
    </section>
    <hr class="my-4">

    <h4>Get Started</h4>
    <section>
      <p>To get started with YODAOS development, read the <a href="https://yodaos-project.github.io/yoda-book/">yoda-book</a> first.</p>
      <ul>
        <li>If you are not a JavaScript/Node.js developer, some basic <a href="https://nodeschool.io/">tutorials</a> are available at nodeshool, and try to learn Node.js because YODAOS expose APIs like that.</li>
        <li>If you are already JavaScript/Node.js developer, almost everything is working because YODAOS is built on <a href="https://nodejs.org/">Node.js runtimes</a>.</li>
      </ul>
    </section>

    <h4>Development Toolkit</h4>
    <section>
      <p>YODAOS provides a <a href="https://github.com/yodaos-project/yoda-platform-tools/releases">toolkit</a> for developers which include:</p>
      <ul>
        <li><b>yoda-cli</b> A command line interface provides sets of tools to play with YODAOS devices.</li>
        <li><b>yoda-platform-lib</b> A library provides base functionality to enable multiple tool to talk to YODAOS devices.</li>
        <li><b>yoda-vscode</b> A VSCode extension provides easy commands on YodaOS devices and apps installation from workspaces, and it's available at <a href="https://marketplace.visualstudio.com/items?itemName=yodaos.yoda-vscode">VSCode Store</a>.</li>
      </ul>
    </section>

    <h4>Contributing</h4>
    <section>
      <p>YODAOS is a community-driven project that we accepts any improved proposals, pull requests and issues.</p>
      <ul>
        <li>For JavaScript development, go <a href="https://github.com/yodaos-project/yodart">yodaos-project/yodart</a> for details.</li>
        <li>For proposal, <a href="https://github.com/yodaos-project/evolution">yodaos-project/evolution</a> is the place where someone can submit pull request to propose something.</li>
      </ul>
    </section>

    <hr class="my-4">
    <p>YODAOS currently supports <a href="https://forum.rokid.com/topic/2595">Rokid Kamino18</a>, and <a href="http://www.amlogic.com/#Products/389/index.html">Amlogic A113</a>. See the <a href="#">Table of Development Boards</a> for full supported hardwares, for more information, please take a look at <a href="https://github.com/yodaos-project/yodaos">YODAOS homepage</a> at GitHub.
  </div>
  
  <%- include('layout/footer') %>
</body>
</html>
